body {
     font-family: 'Oswald', Arial, Verdana, sans-serif;
     padding-top: 100px;
 }

html, body {
    width: 100%;
    height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', Arial, Verdana, sans-serif;
}

.small-text {
    font-size: 12px;
}

.margin-top {
    margin-top: 25px;
}

.alert-box {
    position: absolute;
    top: 50%;
    z-index: 10000;
    width: 1000px;
    text-align: center;
}

@-moz-keyframes spin {
    from { -moz-transform: rotate(360deg); }
    to { -moz-transform: rotate(0deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(360deg); }
    to { -webkit-transform: rotate(0deg); }
}
@keyframes spin {
    from {transform:rotate(360deg);}
    to {transform:rotate(0deg);}
}

.bg-image {
    background: transparent url("../gfx/logo.png") no-repeat center center;
    width: 100%;
    height: 100%;
    background-size: contain;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    -webkit-animation: spin 40s linear infinite;
    -moz-animation: spin 40s linear infinite;
    animation: spin 40s linear infinite;
}

.shadow {
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
}

.shadow-small {
    -webkit-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.75);
}

.margin-bottom {
    margin-bottom: 26px;
}

.plus-button {
    background: transparent url('../gfx/plus-box.png') no-repeat center center;
    height: 24px;
    width: 24px;
    position: absolute;
    right: 30px;
    bottom: 44px;
    cursor: pointer;
}

.plus-button:hover {
    background: transparent url('../gfx/plus-box-hover.png') no-repeat center center;
}

.minus-button {
    background: transparent url('../gfx/minus-box.png') no-repeat center center;
    height: 24px;
    width: 24px;
    cursor: pointer;
}

.minus-button:hover {
    background: transparent url('../gfx/minus-box-hover.png') no-repeat center center;
}

.item-price {
    float: left;
}

.shopping-cart-icon {
    background: transparent url('../gfx/cart.png') no-repeat right center;
}

.shopping-cart-icon:hover {
    background: transparent url('../gfx/cart-hover.png') no-repeat right center;
}

#shoppingCartDetail {
    height: 24px;
    background: transparent url('../gfx/cart.png') no-repeat right center;
    padding-right: 30px;
    font-size: 12px;
    padding-top: 3px;
}

#shoppingCartDetail:hover {
    background: transparent url('../gfx/cart-hover.png') no-repeat right center;
}

.item-desc {
    display: none;
}

.align-right {
    text-align: right;
}

.item-margin {
    margin-top: 15px;
}

.hidden {
    display: none;
}

.opac {
    opacity: 0.9;
}

.detail-thumb {
    width: 100px;
    height: 100px;
    background: transparent none no-repeat center center;
    background-size: cover;
    display: inline-block;
    margin: 0 5px 10px 0;
    cursor: pointer;
    border: 1px solid black;
}

.detail-thumb:hover {
    opacity: 0.6;
}

#detailDesc {
    word-wrap: break-word;
}

#detailThumbs {
    margin-top: 20px;
}

#detailPicture {
    border: 1px solid black;
}