body {
     font-family: 'Oswald', Arial, Verdana, sans-serif;
    padding-top: 40px;
 }

html, body {
    width: 100%;
    height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', Arial, Verdana, sans-serif;
}

.header {
    background-color: #f2f2f2;
    margin-bottom: 40px;
}

.top-bar .name h1 a, .top-bar .name h2 a, .top-bar .name h3 a, .top-bar .name h4 a, .top-bar .name p a, .top-bar .name span a {
    color: #E30613;
}

.top-bar-section ul li a {
    color: #333;
    background: transparent none !important;
}

.top-bar-section ul li.active a, .top-bar-section ul li a:hover {
    color: #23BBEE !important;
}

.top-bar-section ul li > a {
    font-family: 'Oswald', Arial, Verdana, sans-serif;
}

.top-bar-section ul li {
    background: transparent none;
    margin-left: 5px;
}

#title-img {
    height: 20px;
    margin-left: 20px;
    margin-bottom: 4px;
}

.text-primary {
    color: #23BBEE;
}

.nav-item.cart {
    background: #23BBEE url(../gfx/cart-outline.png) no-repeat 85px center;
    padding-right: 30px;
    padding-left: 5px;
}

.nav-item.cart:hover, .nav-item.cart.active  {
    background: #23BBEE url(../gfx/cart.png) no-repeat 85px center;
}

.nav-item.cart:hover > a, .nav-item.cart.active a {
    color: #333 !important;
}

.nav-item.cart > a {
    color: #fff;
}

.content > div {
    display: none;
}

.small-text {
    font-size: 12px;
}

.margin-top {
    margin-top: 25px;
}

.alert-box {
    display: none;
    position: absolute;
    top: 50%;
    z-index: 10000;
    width: 1000px;
    text-align: center;
}

@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

.bg-image {
    background: transparent url("../gfx/logo.png") no-repeat center center;
    width: 100%;
    height: 100%;
    background-size: contain;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    opacity: 0.75;
    -webkit-animation: spin 400s linear infinite;
    -moz-animation: spin 400s linear infinite;
    animation: spin 400s linear infinite;
}

.main {
    display: none;
}

.shadow {
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
}

.shadow-small {
    -webkit-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.75);
}

.margin-bottom {
    margin-bottom: 26px;
}

.plus-button {
    background: transparent url('../gfx/plus-box.png') no-repeat center center;
    height: 24px;
    width: 24px;
    position: absolute;
    right: 30px;
    bottom: 44px;
    cursor: pointer;
}

.plus-button:hover {
    background: transparent url('../gfx/plus-box-hover.png') no-repeat center center;
}

.minus-button {
    background: transparent url('../gfx/minus-box.png') no-repeat center center;
    height: 24px;
    width: 24px;
    cursor: pointer;
}

.minus-button:hover {
    background: transparent url('../gfx/minus-box-hover.png') no-repeat center center;
}

.item-price {
    float: left;
}

.item-pic {
    width: 100%;
}

.shopping-cart-icon {
    background: transparent url('../gfx/cart.png') no-repeat right center;
}

.shopping-cart-icon:hover {
    background: transparent url('../gfx/cart-hover.png') no-repeat right center;
}

#shoppingCartDetail {
    height: 24px;
    background: transparent url('../gfx/cart.png') no-repeat right center;
    padding-right: 30px;
    font-size: 12px;
    padding-top: 3px;
}

#shoppingCartDetail:hover {
    background: transparent url('../gfx/cart-hover.png') no-repeat right center;
}

.item-desc {
    display: none;
}

.align-right {
    text-align: right;
}

.item-margin {
    margin-top: 15px;
}

.hidden {
    display: none;
}

.opac {
    opacity: 0.9;
}

.detail-thumb {
    width: 100px;
    height: 100px;
    background: transparent none no-repeat center center;
    background-size: cover;
    display: inline-block;
    margin: 0 5px 10px 0;
    cursor: pointer;
}

.detail-thumb:hover {
    opacity: 0.6;
}

#detailDesc {
    word-wrap: break-word;
}

#detailThumbs {
    margin-top: 20px;
}

.philosophy-text {
    font-size: 28px;
    font-style: oblique;
    position: absolute;
    width: 100%;
    text-align: center;
    padding-top: 200px;
}