body {
	font-family: 'Oswald', Arial, Verdana, sans-serif;	
	margin-top: 50px;
}

html, body {
    width: 100%;
    height: 100%;
}

@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

.bg-image {
	background: transparent url("../gfx/logo.png") no-repeat center center;	
	width: 743px;
	height: 555px;
	position: absolute;		
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	-webkit-animation: spin 40s linear infinite;
}

.shadow {
	-webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
}

.shadow-small {
	-webkit-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.75);
	box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.75);
}

.margin-bottom {
	margin-bottom: 26px;
}

.add-to-cart {
	background: transparent url('../gfx/plus-box.png') no-repeat center center;	
	height: 24px;
	width: 24px;
	position: absolute;
	right: 30px;
	bottom: 44px;
	cursor: pointer;
}

.add-to-cart:hover {
	background: transparent url('../gfx/plus-box-hover.png') no-repeat center center;	
}

.item-price {
	float: left;
}

.shopping-cart-icon {
	background: transparent url('../gfx/cart.png') no-repeat right center;	
}

.shopping-cart-icon:hover {
	background: transparent url('../gfx/cart-hover.png') no-repeat right center;	
}

.item-desc {
	display: none;
}

.align-right {
	text-align: right;
}

.item-margin {
	margin-top: 15px;
}

.hidden {
	display: none;
}

.opac {
	opacity: 0.7;
}